<footer>
    <div class="contact">
        <h2>Sigueme en Mis Redes</h2>
        <ul class="iconos-redes">
            <li><a href="https://open.spotify.com/artist/6F3e4wNLvQtZW4NYkpi4dJ?si=t3TDOkt1SMSiwzasTJ87ZA" target="_blank"><i class="fab fa-spotify"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCh94amANW39ZETOejD5kQmg" target="_blank">
                <i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/tripulangel/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/Tripulangel" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-tiktok"></i></a></li>
        </ul>
    </div>
</footer>