<header id="header-block">
    <div class="header-container">
        <!--Menú-->
        <div class="header-burguer-menu">
            <a href="#" class="burguer-menu"><i class="fas fa-bars"></i></a>
            <h3 class="titulo-tripu">Tripulangel</h3>
            <nav class="nav-bar">
                    <ul>
                        <li><a href="/"></a>Inicio</li>
                        <li><a href="#discografía"></a>Discografía</li>
                        <li><a href="#videos"></a>Videos</li>
                        <li><a href="/bio"></a>Biografía</li>
                    </ul>
            </nav>
        </div>
    </div>  
</header>
<script src="/js/index.js"></script>