<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div>
        <%- include('./partials/header.ejs') %>
        
    </div>
    <main class="bio-container">
        <div class="bio-row">
            <div class="bio-img">
                <img src="/img/IMG_20211214_100220.JPG" alt="img_tipu">
            </div>
            <div>
                <h1 class="titulo-bio">TRIPULANGEL</h1>
            </div>
            <div class="parrafo">
                <p class="bio-parrafo">
                    Angel Hernandez es un compositor y productor musical Venezolano.
                    Su proyecto solista <strong>TRIPULANGEL</strong> inicia en el 2016, teniendo su gira debut en la Ciudad de Buenos Aires, Argentina, en ese mismo año.
                    El proyecto a tomado otro rumbo desde su inicio, que partió del pop fusión hasta llegar a lo que define como Indie Alternativo inspirado en las bandas Under de los 80s Denominándose como:
                </p>
                <h3>"Música para la Ruta"</h3>
            </div>
            <div class="onda">
                <img src="/img/pngegg.png" alt="sonido">
            </div>
        </div>
        <div class="nombre-proyecto">
            <h2>"Música para la Ruta"</h2>
        </div>
        <div class="fotos-bio">
            <img src="/img/tripu.png" alt="tripulangel">
            <img src="/img/tripu-langel.png" alt="tripulangel">
        </div>
    </main>
</body>
<%- include('./partials/footer.ejs') %>
</html>