<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="secciones">
        <section>
            <article class="discografia" id= "discografia">
                <h2 class="name-section">DISCOGRAFÍA</h2>
                <ul class="albumes">
                    <li><a href="https://open.spotify.com/track/5sOBEFv4VwWxJY6GuWJFOU?si=c67bd955200145ff" target="_blank"><img src="/img/duele-cuando-te-vas.png" class="album-img"></a>
                    <p>Duele Cuando te Vas</p></li>
                    <li><a href="https://open.spotify.com/track/0bt2MMEicFxbMmQNCVKMjY?si=b8675ef37e334406" target="_blank"><img src="/img/tripu-el-veneno.jpg" class="album-img"></a>
                        <p>El Veneno de Tu Amor</p></li>
                    <li><a href="https://open.spotify.com/track/6pA1hvFLheDPIokMoHWxYL?si=7d0d0b88f7df49e0" target="_blank"><img src="/img/verte-otra-vez.jpg" class="album-img"></a>
                        <p>Verte Otra Vez</p></li>
                </ul>
            </article>
            <article class="videos" id= "videos">
                <h2 class="name-section">VIDEOS</h2>
                <ul class="item-videos">
                    <li>
                        <iframe src="https://www.youtube.com/embed/mcr4FiRXDQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                    <li>
                        <iframe src="https://www.youtube.com/embed/5Fw_iLEfMqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </li>
                </ul>
                <a href="https://www.youtube.com/channel/UCh94amANW39ZETOejD5kQmg"><button>Ver mas videos</button></a>
            </article>
            <article class="bio-tripu">
                <img src="/img/IMG_20211214_100220.jpg">
                <div class="bio-tripu-hijo">
                    <h2 class="name-section">BIOGRAFÍA</h2>
                    <h4 class="description-breve">Bienvenido a mi historia</h4>
                    <a href="/bio" class="enlace-bio"><i class="far fa-arrow-alt-circle-right"></i></a>                
                </div>
            </article>
        </section>
    </main>
    <script src="/js/index.js"></script>
</body>
<%- include('./partials/footer.ejs') %>
</html>